@import "hdls";
@import "../config";
@import "../utils/functions";
@import "../utils/mixins";

.blog {
  &__hdl{
    @include hdl;
  }
  &__box{
    display: flex;
    justify-content: space-between;
  }
  &__article{
    padding-right: rem(16px);
    &:last-child {
      padding-right: 0;
    }
  }
  &__img{
    width: 100%;
    padding-bottom: rem(25px);
  }
  &__hdlSecondary{
    @include text(rem(19px));
    padding-bottom: rem(15px);
    margin: 0;
  }
  &__text{
    @include text(rem(14px));
    padding-bottom: rem(15px);
    margin: 0;
  }
  &__more{
    @include btn(rem(11px), rem(29px), rem(14px));
  }
}