@import "../utils/functions";
@import "../config";

%lines {
  content: "";
  display: inline-block;
  width: rem(50px);
  height: rem(3px);
  background: $primary-color;
  position: absolute;
  top: 50%;
}

@mixin hdl($color: black) {
  color: $color;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: rem(35px);
  text-align: center;
  margin-top: 0;
  span {
    position: relative;
    &::before{
      @extend %lines;
      transform: translateY(-50%) translateX(calc(-100% - rem(10px)));

    }
    &::after{
      @extend %lines;
      transform: translateY(-50%) translateX(calc(rem(10px)));

    }
  }
}