@import "../utils/functions";
@import "../utils/media-queries";


.header {
  background: #00000066 0 0 no-repeat padding-box;
  border-bottom: rem(2px) solid #FFFFFF33;
  opacity: 1;
  width: 100%;

  .header__box {
    max-width: rem(1060px);
    width: 100%;
    margin: auto;
    position: relative;
    @include mq(lg){
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
