$images-path: "../images";
$fonts-path: "../fonts";

$base-font-size: 16px;
$primary-color: #FF0000;
$secondary-color: #FFFFFF;

$primary-text-color: #6A6A6A;
$secondary-text-color: #FFFFFF;
$ternary-text-color: #B2B2B2;

$fonts: (
  "Nunito Sans Black": "nunitosans-black-webfont",
  "Nunito Sans Bold": "nunitosans-bold-webfont",
  "Nunito Sans Extrabold": "nunitosans-extrabold-webfont",
  "Nunito Sans Light": "nunitosans-light-webfont"
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);